{% extends 'base.html.twig' %}

{% block body %}
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                       offres par Category
                    </h1>
                    <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="single.html"> Job Details</a></p>
                </div>
            </div>
        </div>
    </section>






    <!-- Start post Area -->
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">

                    {% for offre in offres %}

                        <div class="single-post d-flex flex-row">

                            <div class="thumb">

                            </div>
                            <div class="details">
                                <div class="title d-flex flex-row justify-content-between">
                                    <div class="titles">
                                        <a href="{{ path('offre_show', {'id':offre.id}) }}"><h4>{{ offre.IntiuleDePost }}</h4></a>
                                        <h6>{{  offre.nomEntreprise }}</h6>
                                    </div>
                                    <ul class="btns">
                                        <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                        <button type="button" class="btn btn-dark "  data-toggle="modal" data-target="#exampleModal">Apply</button>
                                    </ul>


                                </div>
                                <p>
                                    {{ offre.description }}
                                </p>


                                <h5>type job :{{offre.TypeEmploi.nom }}</h5>

                                <p class="address"><span class="lnr lnr-map"></span>  <strong>lieu</strong> : {{ offre.lieu }}</p>
                                <p class="address"><span class="lnr lnr-time"></span> {{ offre.publishedAt|date('Y-m-d') }}</p>
                                <p><strong>Category </strong>: {{ offre.Category.nom}}</p>


                            </div>
                        </div>

                    {% endfor %}

                </div>

            </div>
        </div>
    </section>
    <!-- End post Area -->


{% endblock %}

{% block title %}

{% endblock %}

